

<!-- <div class="wrapper">
<div>
  <app-block-component id="top-left"></app-block-component>
<app-block-component id="top-right"></app-block-component>
</div>
<div>
  <app-block-component id="botom-left"></app-block-component>
<app-block-component id="botom-right"></app-block-component>
</div> -->

<!-- </div> -->
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

     

    <span>{{ title }} app is running!</span>
    <div>
     
    </div>

<div>
  

  <app-user-profile></app-user-profile>
</div>
 
