
<!-- 
<div class="wrapper">
<div>
  <app-block-component id="top-left"></app-block-component>
<app-block-component id="top-right"></app-block-component>
</div>
<div>
  <app-block-component id="botom-left"></app-block-component>
<app-block-component id="botom-right"></app-block-component>
</div> -->

<!-- </div> -->
  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">

    <div>
     <span>{{ title }} app is running!</span>
    </div>

<div>
  

  <app-user-profile></app-user-profile>
</div>
 <app-raclett></app-raclett>

 <app-directives></app-directives> -->

<app-menu></app-menu>
<!-- <app-my-form></app-my-form> -->
  <!-- <app-sign-up></app-sign-up> -->



  <!-- <app-login-form-component></app-login-form-component> -->

  <!-- <app-parent></app-parent> -->
  <!-- <app-kitchen></app-kitchen> -->
  <router-outlet></router-outlet>

